@import "colores";
*{
    margin:0;
    Padding:0;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 62.5%;
}
body{/*Fondo de todo el sitio*/
    background-color: #FFFFff;   
}
a{/*estilos links */
    color:#ffffff;
    text-decoration: none;
}
    a:hover{ /*Cambio de color al pasar el cursor*/
    color:$texto--destacado;
    }
h1{
    font-size: 5em;
    color:$fuente;
    font-weight: 500;
}
h2{
    color: $texto--b;
    font-size: 3rem;
    font-weight: 200;
    padding-bottom: 3rem;
}
ul{/*Atributos listas*/
    list-style:none;
    margin-top: 1rem;
    font-size: 1.5rem;
}
b{
    color:$texto--b;
}