@mixin sliders($url){
    display: flex;
    background: center url(../images/#{$url}.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    position: relative;
    justify-content:space-between;
    align-content: space-between;
    height: 80vh;
}
/*Slider principales de cada sección*/
.sliderCT{
    @include sliders(como_trabajamos);
}
.sliderQS{
    @include sliders(quienes_somos);
}
.sliderBlog{
    @include sliders(blog);
}
.sliderCE{
    @include sliders(casos_exito);
}
.sliderArticulos{
    @include sliders(analitica2)
}
.cobertura{/*cuadrado negro encima slider principal*/
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-wrap: nowrap;
}
    .cobertura h1{ /*h1 del slider*/
        align-self: center;
        font-style: italic;
        color:#ffffff;
        font-size: 5rem;
        font-weight: 200;
    }
.frase{/*Frases de corte, que no tienen fondo*/
    font-style:italic;
    font-family: 'Montserrat', sans-serif;
    color:$fuente--frase;
    font-size: 2rem;
    margin:5rem 7rem 3rem 7rem;
    padding: 1rem 2rem 1rem 2rem ;
    text-align: center;
    line-height:3rem;
}
.sliderFrase{/*Contenedor frase de corte (fondo negro)*/
    background:url("../images/slider-frase.jpg");
    background-size:cover; 
    width: 100%;
    height:350%;
    min-height: 200px;
    display:inline-block;
    margin: 1rem 0rem 3em 0rem;
}
.sliderFrase__texto{/*Estilo de texto para la frase de corte*/
    font-size: 2.5rem;
    font-style:italic;
    color:#ffffff;
    font-family: 'Montserrat', sans-serif;
    padding: 7rem 7rem 7rem 7rem ;
    text-align: center;
}
.sliderComo{/*contenedor imagen grande debajo de slider "como trabajamos"*/
    width: 100%;
    display: flex;
    justify-content: center;
    background: $azulmarca;
    margin-top: 3rem;
}
    .sliderComo img{
        max-height: 50%;
    }
.quieroContacten{/*Contenedor que lleva al contacto*/
    display: inline-block;
    width: 100%;
    background: url("../images/slider2-contacto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    margin-bottom: 3rem;
    text-align: center;
}
.sliderCasos{
    width: 40%;
    display: inline-block;
    text-align: center;
}
.contenedorTexto{/*contenedor texto slider contacto*/
    display: inline-block;
    width: 45%;
    text-align: center;
    position:relative;
}
.hablemos{/*Atributos texto naranja slider contacto*/
    font-size: 3rem;
    color:$texto--destacado;
}
.contacten{/*Atributos de boton que lleva al contacto*/
    font-size: 3rem;
    color:#000000;
    background-color:#ABB0B5;
    margin: 4.5rem 1.5rem 4.5rem 1.5rem;
}
.textoCasosSlider{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#E5E5E5;
    text-align: center;
    margin:7rem 5rem 0rem 5rem;
}
.botonCasos{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#E0AE77;
    text-align: center;
    background-color: #5C5757;  
    margin:7rem 5rem 0rem 5rem;
}
.mapa{ /*Contenedor iframe google maps*/
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 5rem 0rem 5rem 0rem;
    width: 100%;
    height: 80vh;
}