@import "generales";
@import "footer";
@import "sliders";
@import "colores";
.gridDestacados{ /*Contenedor de puntos a destacar, arriba de "quiero que me llamen"*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items:stretch;
    max-width:100%;
    max-height:30% ;
    text-align: center;
    grid-column-gap:10rem;
    grid-row-gap: 1rem;
    padding:2rem 2rem 2rem 2rem;
    margin: 5rem 5rem 3rem 5rem;
}
.gridDestacados__h3{
        font-size: 2.5rem;
        font-weight: 400;
        color:$texto--b;
        padding:3rem 3rem 3rem 3rem ;
    }
.gridDestacados__texto{
        font-size: 1.6rem;
        font-weight: 200;
        color:$fuente;
    }
.gridDestacados__imagenes{
        height: 100px;
        max-width: fit-content;
        transition: all 2seg;
        transition-timing-function: ease-in-out
    }
.gridDestacados__imagenes:hover {
        transform: scale(1.2);
    }
.gridDetalleDerecha{/*Contenedor Grid con texto a la derecha e imagen a la izquierda*/
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    text-align: left;
    font-size: 1.8rem; 
    margin-top: 3rem;
    margin-bottom: 3rem;
}
    .gridDetalleDerecha img{
        justify-self: left;
        max-width: 80%;
        max-height: 50%; 
        padding-left: 5rem;
}
    .gridDetalleDerecha h2{
        justify-self: center;
        margin-right: 5rem;
}
    .gridDetalleDerecha p{
        justify-self: center;
        line-height: 3rem;
        margin-right: 5rem;
        color:$fuente;
}
.gridDetalleIzquierda{/*Contenedor Grid con texto a la izquierda e imagen a la Derecha*/
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    text-align: right;
    font-size: 1.8rem; 
    margin-top: 3rem;
    margin-bottom: 3rem;
}
    .gridDetalleIzquierda img{
        justify-self: left;
        max-width: 80%;
        max-height: 50%; 
        padding-right: 5rem;
}
    .gridDetalleIzquierda h2{
        justify-self: center;
        margin-left: 5rem;
}
    .gridDetalleIzquierda p{
        justify-self: center;
        line-height: 3rem;
        margin-left: 5rem;
}

.formulario{/*Contenedor formulario*/
    display: flex;
    flex-direction: row;
    background-image: url("../images/computadora_contacto.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    justify-content: space-between;
    align-content: center;
    padding: 3rem 3rem 3rem 3rem;
    margin-bottom: 3rem;
}
    .formulario h2{
        font-size: 3rem;
        font-weight: 600;
        line-height: 3rem;
        color:#ffffff;
    }
    .formulario p{
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 3rem;
        color:#ffffff;
    }

.coberturaFormulario{/*Contenedor formulario*/
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding:2rem 2rem 2rem 2rem;
}
.boton{/*Estilo de los botones de consulta*/
    font-size:2rem;
    background:$azulmarca ;
    color: $texto--destacado;
    border: 2px solid #000000;
    border-radius: 6px;
    margin: 1rem 1rem 1rem 1rem; 
    padding: 1rem 1rem 1rem 1rem; 
}
/*Modificando clases del bootstrap*/
.carousel-control-next, .carousel-control-prev{
background-color: rgba(0, 0, 0, 0.014);
max-width: 5%;
border: none;
}
.carousel-inner{
    max-height: 50rem;
}
.active{
    color:white;
}
    /*Clase del boton bootstrap*/
.btn{
    font-size: 1.8rem;
    background-color:$azulmarca;
    color:$texto--destacado;
    border-radius:10%;
    margin: 1rem 1rem 1rem 1rem; 
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-close{
    font-size: 1.5rem;
    background-color:$azulmarca;
    color:$texto--destacado;
    border-radius:10%;
    padding:0.5em 0.5em 0.5em 0.5em;
}
.form-label{
    font-size: 1.8rem;
    color:#ffffff;
    padding:1rem 1rem 1rem 1rem;
}
.form-control{
    padding:1rem 1rem 1rem 1rem;
}
.form-select{
    font-size:1.5rem;
}
.consulta{
    width:70%;
    height: 10%;
    padding: 1rem 1rem 1rem 1rem ;
    margin: 1rem 1rem 1rem 1rem ;
}
.form-check-label{
    font-size: 1.6rem;
    color:#ffffff;
    padding:1rem 0rem 1rem 0rem; 
}
.form-check-input{
    padding:1rem 0rem 1rem 0rem; 
}
.form-check{
    justify-content: space-between;
    align-items:center;
    padding:1rem 1rem 1rem 2rem; 
}
.footer{
    background-color: $azulmarca;
}
.slider__titulo{
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    top:50%
}
.carousel{
    position:relative;
}
.blog{
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    align-items: center;
    justify-items: center;
}
    .blog img{
        max-width: 85%;
        justify-self: left;
        border-radius: 5%;
        margin: 2rem 2rem 2rem 2rem;
}
    .blog p{
        font-size: 1.5rem;
        margin: 2rem 2rem 2rem 2rem;
    }
.btn-social {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.gridSocios {
/*Contenedor de "socios"*/
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
        width: 100%;
        max-height: 30%;
        text-align: center;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        margin: 2rem 0rem 2rem 0rem; 
    }
    .gridSocios h3 {
    font-size: 2.5rem;
    font-weight: 400;
    color: $texto--b;
    padding: 3rem 0rem 3rem 0rem; 
    }   
    .gridSocios p {
        font-size: 1.8rem;
        font-weight: 200;
        color: $fuente--frase;
        max-width: 90%;
    }
      
    .gridSocios img {
        height: 200px;
        max-width: 200px; 
    }
.fotoRedonda {
        /*Estilo para que una foto cuadrada sea redonda*/
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        object-fit: cover;
        position: center;
        max-height: 240px;
        border-radius: 100%; 
    }
.imgSocios{
        max-height: 50px;
        padding: 1.5rem 0.5rem 0.5rem 0.5rem;
}
/*Modal (bootstrap)*/
.contenedorModal{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    align-content: space-between;
    justify-content: space-between;
}
    .contenedorModal img{
        max-width: 80%;
    }
.modal-content{
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
}
.modal-title{
    color:$texto--b;
    font-size: 2rem;
}
.modal-body{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    font-style: italic;
    font-size: 1.5rem;
    padding-right: 0rem;
}
.textoModal{
    line-height: 2.5rem;
    padding: 0.5rem 2.5rem 1.5rem 1.5rem;
}
/*Clases para modificar nav de bootstrap*/
.nav-item{
    font-size: 1.8rem;
    padding-left: 2rem;
    font-weight: 500;
}
.dropdown-item{
    font-size: 1.8rem;
    padding-left: 2rem;
    font-weight: 500;
    color:#ffffff;
}
.dropdown-menu{
    background-color: $azulmarca;
}
.navbar-expand-lg{
    background-color: $azulmarca;
    padding: 0.5rem;
    margin:0;
}
.navbar-toggler-icon{
    background-image: url(../images/hamburguesa.png);
    width: 3rem;
    height: 3rem;
}
.error{
    font-size: 3.5rem;
    font-weight: 400;
    padding:3rem 3rem 3rem 3rem;
}

@import "mediaTablet";
@import "mediaMobile";